body {
text-align: center;
background: linear-gradient(#dd9ae6 0%, #2273a3 100%);
background-repeat: no-repeat;
}

h1 {
  text-shadow:2px 2px #9abce6;
  font-family: 'Lobster', cursive;
  font-size: 20px;
}

#ParaPart {
  padding: 20px;
  font-size: 18;
  text-align: center;
  color: pink;
}

.image {
  border-radius: 50%;
  width: 100px;
}

.line {
  width: 170px;
    height: 6px;
    background-color: #000;
    margin: 8px auto;

}

#UpperPart {
    z-index: 9;
}

.menu {
    list-style: none;
    position: fixed;
    background: aliceblue;
    top: 10px;
    margin-top: 0px;
    width: 100%;
    z-index: 10;
    cursor: pointer
}



.list {
    display: inline;
    padding-left: 33px;
    padding-right: 25px;
    font-family: fantasy;
    font-size: 20px;
}

.list:hover {
    background-color: lemonchiffon;
    font-size: 25px;
}

#game {
    font-size: 20
}

#button {
background-color: bisque;
border: 12px;
padding: 12px 28px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 15px;
    
}

p {
 color: lightpink;
}

html{
    scroll-behavior: smooth;
}

.pictures {
    transition: transform .2s;
    border: 10px solid #FCD4F0;
    width: 300px;
    height: 300px;
}

.pictures:hover {
    transform: scale(0.9)
}

#contact {
    background: bisque;
}

#contact iframe {
    width: 100%;
}

.contact_1 h3 {
    display: inline;
}

.contact_1 a{
    color: white;
    text-shadow: none;
}

#work a
{
text-shadow: none !important ;
text-decoration: underline !important;
color: blue !important;
}